body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.top {
  background: url(/img/hero-bg.jpg.png) no-repeat;
  background-size: cover;
  width: auto;
  padding: 100px 600px 100px 600px;
}
.wrapper {
  padding: 100px 600px 100px 600px;
}
.container {
  border: 2px solid #3c3c3c;
  position: relative;
}
.container__top {
  border: none;
}
.content {
  margin: 77px 171px 29px 178px;
  text-align: center;
}
.title {
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 53px;
}
.title__text {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
}
.text {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 25.89px;
}
.subtitle {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  position: absolute;
  top: -20px;
  left: 215px;
  margin: 0;
  padding: 0 80px;
}
.wrapper__services {
  background: url(img/services.jpg.png) no-repeat;
  background-size: cover;
  width: auto;
}
.container__services {
  border-color: white;
}
.content__services > p {
  color: white;
}
.subtitle__services {
  background-color: #9ca2b4;
  color: white;
}
.subtitle--small {
  text-align: center;
}

.photo-wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.icon {
  margin-left: 70px;
}
.photo-container {
  margin: 5px;
  position: relative;
}
.photo-container:hover {
  transform: scale(1.1);
  color: aliceblue;
}
.photo-name {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 43px;
  left: 43px;
  color: #ffffff;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}
.subtitle--small {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.26px;
}
.button {
  padding: 23px 130px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  text-transform: uppercase;
}
.button:hover {
  animation: animate__heartBeat;
}
.content__small-icon {
  display: flex;
  justify-content: center;
}
.small-icon {
  margin: 0 20px;
}
